/*

Color Controller
Pippin Barr

Some basic styling for our example.

*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
body {
  margin: 0;
}

/* Mostly just styling the div so it sits in the center of the screen. */
#color {
  z-index: -10;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 800px;
  height: 478px;
  background-color: 'white'
}

#eye{

  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

h1{
  margin-left: 45%;
  font-family: 'Open Sans Condensed'

}


video {
  position: absolute;
}
